*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 18px;

}

body{
    height: 100vh;
    background-color:rgb(231, 237, 238);
    display:flex;
    justify-content: center;
    align-items: center;
}


.container {
    
    width:800px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgb(0,0,0,0.4);
    align-items: center;
}

.top{
   
    margin-left: auto;
    padding-left: 30px;
}

.what {
    
    margin-left: auto;
    border-radius: 12px;
    border: 1px;
    background-color: rgb(232, 234, 238);
  
    width: 700px;
    height: 35px;
    
    padding-left: 10px;

}
.bottom {
    align-content: center;
    padding-left: 25px;

}
p1 {
   
  
    padding-right: 88px;
}

.girl{
    
    border: rgb(68, 63, 63) solid 1px;
   border-radius: 25px;
}

img {

    margin-top: 8px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    
    
}
.photo{
    fill:green;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.face{
    padding-right: 5px;
    filter: invert(90%) sepia(85%) saturate(7497%) hue-rotate(353deg) brightness(102%) contrast(104%);
}

.live {
  margin-left: 50px;
  filter: invert(25%) sepia(85%) saturate(7485%) hue-rotate(357deg) brightness(106%) contrast(118%);
  
}
